source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget FSharp.Data 
nuget FSharpPlus
nuget Giraffe
nuget Microsoft.AspNetCore.App
nuget Microsoft.AspNetCore.Authentication.Google

# testing
nuget FsCheck.Xunit 
nuget FsUnit 
nuget xunit 
nuget xunit.runner.visualstudio 

